// Font
$font-family: "Fira Sans Condensed", sans-serif;

// Colors
$light-purple: #f1e3f3;
$light-pink: #ffbfeb;
$bright-coral: #f0533f;
$light-orange: #fbb477;
$light-yellow: #f7e86e;
$bright-green: #00a89e;
$light-green: #a3eda6;
$beige: #f3eada;
$white: #fff;
$black: #000;

$active-opacity: 1;
$inactive-opacity: 0.15;
$spacing: 2rem;
