// Font

// Colors
$pale-purple: #f1e3f3;
$lavender: #D8DDFF;
$tart-orange: #f0533f;
$orange-apricot: #fbb477;
$yellow-corn: #f7e86e;
$coral: #FF8462;
$almost-black: #212121;
$cultured: #F2F2F2;
$main-beige: #F6EEE3;
$secondary-beige: #f3eada;

$active-opacity: 1;
$inactive-opacity: 0.15;
$spacing: 2rem;
