@import "../styles/mixins.scss";
@import "../styles/variables.scss";

#about-section{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  h1 {
    grid-column: span 3;
  }
  :nth-child(2){
    grid-column: 3/span 2;
    grid-row: 2;
  }
  :nth-child(3){
    grid-column: 1;
  }
}


.rectangle {
  background-color: $tart-orange;
  width: 300px;
  height: 200px;
  grid-column: 3/span 3;
  grid-row: 2;
}
.placeholder-pic{
  background-color: $coral;
  width: 200px;
  height: 320px;
  grid-column: 3/span 2;
  grid-row: 2;
}