@import "../styles/mixins.scss";
@import "../styles/variables.scss";

#about-section{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  .header {
    grid-column: span 3;
    // margin-bottom:1em;
  }
  .my-skills {
    grid-column: 2/5;
    justify-self: center;
  }
}

.sub-header-name { 
  grid-column: 5; 
  grid-row: 2/5; 
  font-size: 7rem;
  font-weight: normal;
  letter-spacing: 3px;
  writing-mode: vertical-rl;
  margin-top: 2em;
}

.sub-header-job {
  grid-column: 5;
  grid-row: 2/5; 
  font-family: $neue-light;
  letter-spacing: .5rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 2em;
  padding-top: 0.4em;
}


.rectangle {
  background-color: $orange-apricot;
  height: 25em;
  grid-column: 2/5;
  grid-row: 3;
  width: 50em;
  justify-self: center;
  align-self: end;
}
.placeholder-pic{
  width: 40em;
  grid-column: 2/5;
  grid-row: 3;
  place-self: center;
  position: relative;
  // bottom: 3em;
}

.about-highlight {
  grid-column: 2/4;
  grid-row: 2;
  // position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bolder;
}

.about-summary {
  grid-column: 2/5;
  grid-row: 4;
  justify-self: end;
  font-size: 1.5rem;
}

// SKILLS SECTION
.sub-header-skills{
  font-family: $neue-light;
  font-size: 2em;
  grid-column: 1/span 3;
  grid-row: 6;
  justify-self: center;
  margin-top: 0;
}

.sub-header-spoken-languages{
  font-size: 2em;
  font-family: $neue-light;
  grid-column: 4/span 2;
  grid-row: 6;
  justify-self: center;
  margin-top: 0;
}
.sub-header-other-skills{
  font-size: 2em;
  font-family: $neue-light;
  grid-column: 2/span 3;
  margin-top:2em;
  // grid-row: 6;
  justify-self: center;
}

.skill{
  grid-column: 1;
  justify-self: right;
  font-size:2.3em;
  margin: .2em 0;
}

.skill-level{
  grid-column: 2/span 2;
  align-self: center;
  margin: 0 3em;
}

.other-skills{
    grid-column: 2/span 3;
    margin-top: 0;
    font-size: 2rem;
    text-align: center;
}


.MuiLinearProgress-root.MuiLinearProgress-colorPrimary.MuiLinearProgress-determinate.css-eglki6-MuiLinearProgress-root {
  height: 1.5em;
  background-color: transparent;
  border: 1px solid $black;
}

.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary.MuiLinearProgress-bar1Determinate.css-5xe99f-MuiLinearProgress-bar1 {
  background-color: $coral;
}

.spoken-languages{
  grid-column: 4/span 2;
  justify-self: center;
  grid-row: 7/span 4;
  font-size:2.3em;
  line-height: 2em;
  margin-top: 0;
}