@import "../styles/mixins.scss";
@import "../styles/variables.scss";

#contact-section {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  font-size: 2rem;
  h1 {
    grid-column: 4 / span 2;
    text-align:center;
  }
  :nth-child(4){
    grid-column: 2;
  }
  a{
    text-decoration: underline;
    text-align: center;
    color:$black;
  }
}

.email-phone{
  grid-column: 1 / span 2;
  a{
    text-decoration: none!important;
  }
}