@import "../styles/mixins.scss";
@import "../styles/variables.scss";

// .contact {
//   background-color: $beige;
// }

.page-header-texts {
  a {
    text-decoration: none;
    color: $white;
    &:hover {
      cursor: pointer;
    }
  }
}

.contact-content {
  @include flex-row;
  align-items: flex-start;
  width: 80vw;
  margin: 5vw auto;
}

.contact-form {
  flex-grow: 1;
  textarea {
    width: 80%;
    height: 7vw;
    @include font-size(18px);
    font-family: $font-family;
  }
  input#subject {
    @include font-size(18px);
    width: 80%;
    font-family: $font-family;
  }
  input#name {
    @include font-size(18px);
    font-family: $font-family;
    width: 40%;
  }
  input#email {
    @include font-size(18px);
    font-family: $font-family;
    width: 40%;
  }
  input#send {
    @include font-size(18px);
    font-family: $font-family;
    display: block;
    float: right;
    margin-right: 20%;
  }
}
.contact-links {
  flex-grow: 2;
  a {
    color: $white;
    text-decoration: none;
    &:hover {
      color: $light-yellow;
      text-decoration: underline;
    }
  }
  h2 {
    margin-bottom: 0px;
  }
  .social {
    @include flex-row;
    width: 35%;
  }
}
