@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.menu-button {
  position: fixed;
  right: 2.0833333333vw;
  pointer-events: all;
  top: 3.3333333333vh;
  color: $white;
  width: 4.8vw;
  height: 4.4vw;
  transform: skewX(-15deg);
  border: 1px solid $white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
  transition: background 0.3s ease;
  .opened-menu {
    color: $black;
    background-color: $white;
  }
}

.close-button {
  @extend .menu-button;
  color: $black;
  background-color: $white;
}

.button-clicked-open {
  transform: translate(-50%, -50%) skewX(15deg);
  position: absolute;
  left: 50%;
  top: 50%;
  transition: color 0.3s ease;
}

.button-close {
  transform: translateX(0);
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) skewX(15deg);
}
