@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.hello-intro {
  width: 80vw;
  margin: auto;
}

.greeting-hello {
  // color: $light-yellow;
  margin-top: 10vw;
  @include font-size(3.5em);
}

.greeting-name {
  // color: $light-pink;
  text-align: right;
  @include font-size(3.5em);
}

.introduction {
  width: 50%;
  float: right;
  text-align: right;
  margin-bottom: $spacing;
}

.remove-greeting {
  display: none;
}
.contact-link {
  color: $white;
  &:hover {
    text-decoration: none;
    color: $light-pink;
    font-weight: 600;
  }
}

.about-link {
  @extend .contact-link;
  &:hover {
    color: $light-green;
  }
}
.work-link {
  @extend .contact-link;
  &:hover {
    color: $light-yellow;
  }
}

.projects-summary {
  @include flex-column;
  justify-content: space-evenly;
  clear: both;
  background-color: $white;
  color: $black;
  padding: 0 10vw;
  height: 50vw;
}

.projects-heading {
  @include flex-row;
  a {
    @include font-size(18px);
    color: $black;
  }
}
.projects-grid {
  @include flex-row;
  img {
    height: 12vw;
  }
}
