@import "../styles/mixins.scss";
@import "../styles/variables.scss";

#landing-section {
  font-family: $neue-light;
  line-height: 3.5rem;
  font-size: 2.5rem;
  margin: 10em 0;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: underline;
  }
  svg {
    align-self: center;
  }
}