@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.menu-section {
  position: fixed;
  background-color: $black;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.open-menu {
  background: $black;
  top: 0;
  padding-top: 20vh;
  h1:hover {
    color: $light-green;
    cursor: pointer;
  }
}
.closed-menu {
  top: 0;
  padding-top: 20vh;
  transform: translateX(-100%);
}
