@import "./styles/variables.scss";
@import "./styles/mixins.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  @include font-size(24px);
  background-color: $main-beige;
  color: $almost-black;
}

// NAVIGATION BAR
#nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10vh 10vh;
  a {
    padding: 0 5vh;
  }
}
