@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 24px;
}

code {
  font-family: "Fira Sans Condensed", sans-serif;
}
