@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300;900&display=swap");
@import "./styles/variables.scss";
@import "./styles/mixins.scss";

* {
  box-sizing: border-box;
  background-color: $black;
  color: $white;
}

body {
  margin: 0;
  font-family: $font-family;
  @include font-size(24px);
}
